name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14, 16, 18]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}.x
      - name: Ensure npm >= 7
        run: npm i -g npm@^7
      - run: npm ci
      - run: npm run audit
      - run: npm test
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: run-node-${{ matrix.node-version }}
          parallel: true
          path-to-lcov: coverage/lcov.info
      - name: Package test project with Serverless v2
        working-directory: ./serverless-test-project
        run: |
          npm i serverless@2
          npm run test:v2
  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
          path-to-lcov: coverage/lcov.info
